*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url("katon.jpg");
    background-size: cover;
    padding-left: 2%;
    padding-right: 6%;
    box-sizing: border-box;
 
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.icon{
    width:171px;
    cursor: pointer;
}


nav{
flex: 1;
text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff ;
    font-size: 13px ;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;  
  }

  .col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px ;
    text-shadow: 0 0 5px #7f88e7;
    transition: 0.5s;
}

h1:hover{
    -webkit-text-stroke: 2px #fff;
    color:transparent;
}

p{
    color: #fff;
    font-size: 15px;
    line-height: 20px ;
}

.card{
    width: 230px;
    height: 260px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 40px 50px;
    background-position: center;
    background-size: cover;
    transition:transform 0.5s;
    }
    
    .card1{
        background-image: url(katon1.jpg);
    }
    .card2{
        background-image: url(katon2.jpg);
    }
    .card3{
        background-image: url(katon4.webp);
    }
    .card4{
        background-image: url(katon3.jpg);
    }
    
    .card:hover{
        transform: translateY(-10px);
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
    }
    
    .dropdown-content a {
        color: rgb(84, 201, 117);
        align-items: center;
        padding: 15px 20px;
        text-decoration: none;
        display: block;
        background-color: rgb(235, 244, 237);
        text-align: center;
    
    }
    
    .dropdown-content a:hover {
        background-color: rgb(4, 139, 13);
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .logo {
        display: inline;
        margin-left: 80px;
    }
    .logo img {
        width: 1.5%;
        height: auto;
        padding: 0px 9px;
    }
    
    .header-content {
        color: #fff;
        text-decoration: none;
        padding: 40px;
    }